<h1>Basic Angular App</h1> 
<p>This is basic Angular Applicaiton which cover up basic angular feature i.e. components, module, routing and so on.</p>

<h1>Key Requirements</h1> 
<p>Pages: Login, Home, Contact, About, Dashboard</p>
<p>Home, Contact, About pages will be public</p>
<p>Login page</p>
<p>- consists of form with username and password</p>
<p>- allow login accepts any username and password</p>
<p>Dashboard page will be access after logged in.</p>
<p>A Navbar link for the pages [using router outlet]</p>
<p>Contact page</p>
<p>- must be a form with fields name, address and phone number</p>
<p>- on submitting form the details must be saved locally and shown in about page [can use localStorage]</p>
<p><strong>Note:</strong> must use canDeactivate gaurd in contact page route, when user switches to different route without submitting the form then application must prevent navigation with an alert message</p>
